body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to right, #6a11cb, #2575fc);
}

.container {
  width: 350px;
  background: white;
  padding: 30px;
  margin: 80px auto;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.3);
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background: #2575fc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #6a11cb;
}

.result {
  background: #e0ffe0;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
}
